@charset "utf-8";
/* Global Styles */
a:hover {
	color: rgba(220, 235, 217);
}
/*header*/
header {/*logo字體*/
	font-family: 'Montserrat', sans-serif;
	color: rgb(0, 0, 0);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
}
/* Logo placeholder*/
#logo {/*logo字體*/
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 139px;
	text-align: center;
	color: rgba(255,255,255,1.00);
	background-color: rgba(190,190,190,1.00);
}
/* div for Links in header */
#headerLinks {  /*LOGO右邊*/
	float: left;
	width: calc( 100% - 139px );
	text-align: right;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgba(255,255,255,1.00);
}
/* Links in header */
#headerLinks a {/*login字體*/
	text-decoration: none;
	color: rgb(0, 0, 0);
	padding-left: 66px;
	font-size: 14px;
}
/* Offer text banner*/
#offer {
	font-family: 'Montserrat', sans-serif;
	clear: both;
	/*關鍵食克那塊*/
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAO0QyGoG_fdZ2XC17MmnKeOJFx9G16QL0tMzXUc1rA2MQXmUL8A1LA4Y3yktuM2W4CjU&usqp=CAU");
    background-size: 45%;
	background-position:right;
    background-color: rgb(59, 168, 37);
	background-repeat: no-repeat;
    padding-left: 115px;
    padding-top: 57px;
    padding-bottom: 53.5px;
    padding-right: 0px;
	color: rgb(0, 0, 0);
	padding-left: 115px;
	padding-top: 57px;
	padding-bottom: 57px;
}
#offer h2{
	margin-left: 0px;
	margin-top: 20px;
	font-size: 25px;
}

#offer p{
	margin-left: 0px;
	margin-top: 19px;
	font-size: 15px;
}
/* Main content of the site */
#content {
	clear: both;
	padding-top: 29px;
}
/* Sidebar */
#content .sidebar {    /*目錄那塊*/
	font-family: 'Montserrat', sans-serif;
	color: rgb(0, 0, 0);
	float: left;
	width: 20%;
	padding-left: 3%;
	padding-right: 3%;
	text-align: center;
	background-color: rgb(220, 235, 217);
	padding-top: 15px;
	height: 550px;
	font-weight: bold;
}
/* main content of the site */
#content .mainContent {
	float: left;
	height: 600px;
	overflow: auto;
	width: 80%;
	text-align: center;
	padding-left: 0%;
}
/*menubar's properties for menus in sidebar */
#content .sidebar #menubar {
	text-align: left;/*menu-coco字體*/
	color: rgb(0, 0, 0);
	position: relative;
	left: 0%;
}
/* Search field in sidebar */
#content .sidebar #search {
	width: 100%;/*search區塊*/
	border-radius: 0px;
	height: 42px;
	text-align: center;
	color: rgb(0, 0, 0);
	font-size: 14px;
	margin-bottom: 21px;
}
/* Whole page content */
#mainWrapper {/*link字體*/
	width: 89.4%;
	padding-left: 10%;
    font-size: 34px;
}
/*menu elements */
.menu ul li {
	list-style-type: none;
	font-size: x-large;
	position: relative;
	left: -20px;
	padding-top: 12px;
}
/* Product rows for catalog */
#content .mainContent .productRow {
	overflow: auto;/*熱量字體*/
	color: rgb(218, 125, 154);
    font-size: 20px;
	padding-left: 16px;
	padding-right: 10px;
}
/* Each product Information in the catalog */
.mainContent .productRow .productInfo {
	float: left;
	padding-left: 4%;
	padding-right: 4%;
	width: 20%;
}
/* Prices of a products in catalog */
.productRow .productInfo .price {/*價錢字體*/
	font-family: 'Montserrat', sans-serif;
	color: rgb(0, 0, 0);
	font-size: 22px;
	position: relative;
}
/* Content holder for products in catalog*/
.productRow .productInfo .productContent {/*品項字體*/
	position: relative;
	top: -15px;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-style: normal;
	font-weight: bold;
	color: rgb(0, 0, 0);
	white-space: pre-wrap;
}
/* Buy button for products in catalog */
.productRow .productInfo .buyButton {/*buybutton字體*/
	position: relative;
	top: -28px;
	width: 84%;
	background-color: rgb(234, 177, 90);
	height: 35px;
	color: rgb(255, 255, 255);
	border-style: none;
	font-size: 14px;
	text-transform: uppercase;
	margin-top: 8px;
}
.producttitle{
	position:relative;/*品項標題字體*/
	background-color: rgba(249, 246, 207);
	color: rgb(0, 0, 0);
	font-size: 30px;
	left: 240px;
	width: 50%;
}
/* footer */
#mainWrapper footer {/*最下方區塊*/
	clear: both;
	overflow: auto;
    background: url("https://www.milkshoptea.com/image/bg6.png");
    background-size: 100%;
	background-position:center;
	background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
	font-family: source-sans-pro, sans-serif;
	font-style: normal;
	font-weight: 200;
	line-height: 1.8;
	padding-top: 40px;
	padding-left: 22px;
	text-align: center;
	padding-bottom: 40px;
	padding-right: 22px;
}
/*Each footer content */
#mainWrapper footer div {
	width: 27%;
	float: left;
	padding-left: 12%;
	padding-right: 0%;
	color: rgb(220, 235, 217);
	text-align: justify;
}
/* Links in footer */
footer div a {
	color: rgb(255, 255, 255);
	display: block;
	text-decoration: none;
	text-align: center;
}
/* Product's images in catalog */
.productInfo div img {
	width: 100%;
}
/*Links in sidebar */
.sidebar #menubar .menu ul li a {
	color: rgb(0, 0, 0);
	text-decoration: none;
}
.sidebar #menubar .menu ul li a:hover {
	color: rgba(107,97,97,1.00);
	text-decoration: none;
}
/* Menu headings in sidebar */
#menubar .menu h2 {
	font-size: 14px;
	font-weight: bold;
}
/*Links under menus in sidebar */
#menubar .menu ul li a {
	font-size: 25px;
}
/* Menus in sidebar */
.sidebar #menubar .menu {
	margin-bottom: 29px;
}
/* Container for links in footer */
footer .footerlinks {
	margin-top: -15px;
	margin-left: 70%;
}

/* Media query for tablets */
@media screen and (max-width:700px) {
/* search field in sidebar */
#content .sidebar #search {
	display: none;
}
/* sidebar */
#content .sidebar {
	float: none;
	width: 100%;
	height: auto;
	overflow: auto;
	padding-left: 12%;
	padding-top: 0px;
}
/* horizontal separators in sidebar */
#content .sidebar hr {
	display: none;
}
/*The sidebar and maincontent of page */
#content {
	position: relative;
	top: -22px;
	width: 100%;
	overflow: hidden;
}
/*menu headings in sidebar */
#menubar .menu h2 {
	display: inline;
	font-size: medium;
	padding-right: 6%;
}
/* Unordered List of links */
#menubar .menu ul {
	display: inline;
}
/*list elements */
#menubar .menu ul li {
	display: inline;
	font-size: medium;
	padding-left: 0%;
	padding-right: 3%;
}
/*The link to be hidden in tablet view */
.sidebar #menubar .menu ul .notimp {
	display: none;
}
/* menus in sidebar */
.sidebar #menubar .menu {
	width: 100%;
	text-align: center;
	position: relative;
	top: 16px;
}
/*menubar in sidebar */
#content .sidebar #menubar {
	position: relative;
	left: -7%;
	overflow: hidden;
	width: 95%;
	padding-top: 0px;
}
/* offer banners content */
#mainWrapper #offer p {
	font-size: small;
}
/* main content region of page */
#mainWrapper #content .mainContent {
	overflow: hidden;
	width: 95%;
	margin-top: 40px;
}
/* Prices of products in catalog view */
.productRow .productInfo .price {
	font-size: 19px;
}
/* Content holders in catalog view */
.productRow .productInfo .productContent {
	font-size: 16px;
}
/* Buy buttons in catalog view */
.productRow .productInfo .buyButton {
	font-size: 15px;
}
/* Container for links in footer */
#mainWrapper footer .footerlinks {
	float: none;
	width: 100%;
	position: relative;
	top: 17px;
	clear: both;
	text-align: center;
	left: 0%;
	padding-bottom: 19px;
}
/* Container for each footer divisions */
#mainWrapper footer div {
	width: 44%;
	text-align: justify;
	font-size: 15px;
}
/* Links in footer */
.footerlinks p a {
	padding-top: 0px;
	padding-bottom: 0px;
	display: inline;
	padding-right: 35px;
}
/* Footer region */
#mainWrapper footer {
	padding-left: 16px;
	overflow: hidden;
}
/* Links in header */
header #headerLinks a {
	padding-left: 0px;
	padding-right: 30px;
}
/* Offer- Text banner */
#mainWrapper #offer {
	padding-left: 20%;
}
/* Paragraphs in footer */
footer .footerlinks p {
	display: inline;
}
}

/*media query for small screen devices */
@media screen and (max-width:480px) {
/*Container for links in header */
#mainWrapper header #headerLinks {
	width: 100%;
	text-align: center;
	background-color: rgba(190,190,190,1.00);
	padding-bottom: 21px;
}
/* Logo placeholder*/
#mainWrapper header #logo {
	width: 100%;
	text-align: center;
}
/* Links in header */
header #headerLinks a {
	text-align: center;
	padding-right: 15px;
	padding-left: 0px;
}
/*Offer - Text Banner */
#mainWrapper #offer {
	padding-left: 0px;
	text-align: center;
}
/* Menubar in sidebar */
#content .sidebar #menubar {
	position: relative;
	left: -8%;
	text-align: center;
}
/*Menu headings in sidebar */
#menubar .menu h2 {
	width: 100%;
	display: block;
}
/* Each product in catalog view */
.mainContent .productRow .productInfo {
	width: 100%;
	display: block;
	padding-left: 0px;
	padding-right: 0px;
	position: relative;
	left: -2%;
}
#mainWrapper footer div {
	width: 100%;
	margin-left: -16px;
	text-align: justify;
	padding-bottom: 16px;
	overflow: auto;
}
/* Unordered list for menu elements */
.menu ul {
	position: relative;
	padding-left: 24%;
}
/* Container for links in footer */
#mainWrapper footer .footerlinks {
	padding-left: 8%;
}
/* Main content which excludes the sidebar */
#mainwrapper #content .mainContent {
	margin-top: -81px;
	text-align: center;
	width: 100%;
	padding-left: 0px;
}
}